.checkout__summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.checkout__summary-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f94d1d;
  margin: 0 0 20px 0;
}

.checkout__summary-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.checkout__summary-item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
    border-bottom: 1px solid #f94d1d;
}

.checkout__summary-item-name,
.checkout__summary-item-quantity,
.checkout__summary-item-price {
  font-size: 1rem;
  font-weight: 400;
}

.checkout__summary-total {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #f94d1d;
}

.checkout__summary-checkout-button {
  background-color: #f94d1d;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
